body {
    color: rgb(11, 11, 11);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
  }

  footer {
    background-color: #212529;
    text-align: center;
    color: white;
  }

  form {
    color: rgb(26, 25, 25);
  }

  @media (max-width: 600px) {
    
  }

